#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

body {
  margin: 0;
  background-image: url(./images/pokemon-banner-wallpapers-mobile.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@media (min-width: 768px) {
  body {
    background-image: url(./images/pokemon-banner-wallpapers.jpg);
  }
}
